@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
}

*{
  transition: all 0.2s ease;
}
.foto{
  transform: translateY(-0.6vh);
}
.foto:hover{
  transform:translateY(-0.6vh) translateX(1vw);
 
}
